@font-face {
    font-family: "NeueMachinaRegular";
    src: url(../../static/fonts/NeueMachinaRegular.otf)
}
@font-face {
    font-family: "juana";
    src: url(../../static/fonts/FontspringDEMOjuanaextralightit.otf);
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: black;
    /* background-color: linear-gradient(#24cfa6 black); */
}

.anchor{
    text-decoration: none;
    color: white;
}

#navbar{
    width: 100%;
    background-color: transparent;
    height: 80px;
}

#logo{
    width: 20.9px;
    position: relative;
    left: 4.65%;
    top: 15px;
}

#sheryians{
    position: relative;
    top: 9.5px;
    left: 4.9%;
    letter-spacing: 0.5px;
    font-family: NeueMachinaRegular;
    word-spacing: -1px;
    font-size: 14.8px;
}

#home{
    position: relative;
    top: 8px;
    left: 41.7%;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-family: NeueMachinaRegular;
}

#courses{
    position: relative;
    top: 8px;
    left: 44.7%;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: NeueMachinaRegular;
}

#bootcamp{
    position: relative;
    top: 8px;
    left: 47.8%;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: NeueMachinaRegular;
}

#request{
    position: relative;
    top: 8px;
    left: 51.2%;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: NeueMachinaRegular;
}

#signin{
    width: 92px;
    height: 34px;
    background-color:#24cfa6 ;
    color: black;
    position: relative;
    top: 9.3px;
    left: 53.7%;
    border-radius: 4.5px;
    border: none;
    outline: none;
    font-size: 15.5px;
    letter-spacing: -0.5px;
    font-family: "Helvetica";
}
#sign_button{
    color: black;
}

.sub_tag{
    width: 50px;
    height: 13px;
    font-size: 8.5px;
    border-radius: 4px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    padding: 2px 6px;
    position: relative;
    top: -40.7px;
    left: 253px;
    text-align: center;
    font-weight: 800;
    z-index: 1;
}
#placements_id{
    width: 73px;
    height: 14.7px;
    position: relative;
    left: 230px;
    text-align: center;
}
#indepth_id{
    position: relative;
    top: -70px;
}
#anime{
    position: relative;
    top: -70px;
}

/* .lan{
    z-index: 2;
    width: 49px;
    height: 21px;
    font-size: 14.8px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 3.5px;
    color: #e9e9e9;
    font-family: helvetica;
    background-color: rgb(43, 41, 41);
    padding: 3px 6px;
    margin-top: 15px;
    margin-left: 25px;
    position: relative;
    top: 233px;
} */

#matter{
    width: 850px;
    height: 300px;
    color: #ffffff;
    position: relative;
    left: 25.5%;
    top: 95.5px;
    word-spacing: -5px;
    font-size: 4.9em;
    line-height: 70px;
    letter-spacing: 1px;
    color: #e9e9e9;
    font-family: NeueMachinaRegular;
}
#we{
    padding-left: 95px;
}
#what{
    padding-left: 6px;
}
#really{
    padding-left: 92px;
}
#teach{
    color:#24cfa6;
}
#good{
    font-style: normal;
    font-family: "juana";
}

#paragraph{
    width: 200px;
    height: 85px;
    border: 1px white;
    color: #f4f4f4;
    position: relative;
    left: 72.4%;
    top: 3px;
    font-size: 12.9px;
    line-height: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
}
#acc{
    color: #24cfa6;
}

#check{
    width: 360px;
    height: 42px;
    background-color: #24cfa6;
    font-size: 21.1px;
    border: none;
    outline: none;
    position: relative;
    left: 38.6%;
    top: -25px;
    border-radius: 8px;
    text-align: center;
    padding-top: -3px;
    font-weight: 520;
    word-spacing: -1.5px;
}
#anchor_id{
    color: black;
}


#students{
    width: 200px;
    height: 75px;
    color: white;
    position: relative;
    left: 33.2%;
    top: 118px;
}
#id1{
    font-family: helvetica;
    font-weight:750;
    font-size: 29.5px;
}
#st{
    font-family: NeueMachinaRegular;
    font-size: 19.78px;
    letter-spacing: 0px;
    word-spacing: -1px;
    position: relative;
    left: -48px;
    top: -2px;
}

#instructors{
    width: 200px;
    height: 75px;
    color: white;
    position: relative;
    left: 49.2%;
    top: 40px;
}
#id2{
    font-family: helvetica;
    font-weight:750;
    font-size: 30px;
}
#in{
    font-family: NeueMachinaRegular;
    font-size: 19.78px;
    letter-spacing: 0px;
    word-spacing: -1px;
    position: relative;
    left: -27px;
    top: -0px;
}

#yt{
    width: 200px;
    height: 75px;
    color: white;
    position: relative;
    left: 63.5%;
    top: -34px;
}
#id3{
    font-family: helvetica;
    font-weight:750;
    font-size: 30px;
    letter-spacing: -2px;
}
#youtube{
    font-family: NeueMachinaRegular;
    font-size: 19.78px;
    letter-spacing: 0px;
    word-spacing: -1px;
    position: relative;
    left: -28px;
    top: -0px;
}

#matter2{
    width: 775px;
    height: 300px;
    color: white;
    position: relative;
    left: 25.4%;
    top: 136px;
    font-family: NeueMachinaRegular;
    font-size: 43.4px;
    line-height: 42px;
    letter-spacing: -0.9px;
    color: #e9e9e9;   
}
#under{
    color:#24cfa6;
    position: relative;
    left: 14.3%;
}

#pic{
    width:952px ;
    height:535px;
    position: relative;
    left: 19.05%;
    top: -25px;
    border-radius: 23px;
}

#explore{
    width: 255px;
    height: 43px;
    text-align: center;
    background-color: #24cfa6;
    font-size: 21px;
    letter-spacing: -0.2px;
    font-weight: 520;
    word-spacing: -1px;
    border: none;
    outline: none;
    border-radius: 8px;
    position: relative;
    left: 42%;
    top: 29px;
    padding-top: 2.4px;
}

#offered{
    color: #e9e9e9;
    font-family: NeueMachinaRegular;
    font-size: 42.5px;
    letter-spacing: -0.6px;
    word-spacing: 1px;
    font-weight: 60;
    margin-left: 69.5px;
    margin-top: 145.5px;
    margin-bottom: 20px;
}

.courses{
    width: 325px;
    height: 220px;
    background-color: #121212;
    border-radius: 13px;
    border: none;
    outline: none;
    display: inline-block;
    position: relative;
    top: -50px;
    left: 3%;
    margin-top: 146.5px;
    color: white;
    font-family: helvetica;
}
#fend{
    margin-right: 26px;
    margin-left: 26px;
}
#bend{
    margin-right: 26px;
}
#apti{
    margin-right: 26px;
}
#java{
    margin-right: 26px;
    margin-left: -2px;
    height: 195px;
    top: -55px;
}

.imagess{
    width: 100%;
    position: relative;
    top: -130px;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
}
#fend_text,#bend_text,#apti_text,#java_text{
    z-index: 1;
    position: relative;
    top: 126px;
}
#java_text{
    position: relative;
    top: 98px;
    left: -20px;
}

.headings{
    font-size: 22px;
    position: relative;
    top: -91px;
    left: -9px;
    line-height: 28px;
}
#fendspan,#bendspan{
    position: relative;
    left: -19px;
}
#sp1{
    position: relative;
    left: -1px;
}
#aptispan{
    position: relative;
    left: -8.5px;
}
#sp2{
    position: relative;
    left: -29px;
}
#threejs{
    position: relative;
    left: 70px;
    top: -65px;
    height: 160px;
}
#threejs_text{
    z-index: 1;
    position: relative;
    top: 96px;
    left: -39px;
}

#top{
    color: white;
    font-size: 45px;
    font-family: NeueMachinaRegular;
    line-height: 47px;
    position: relative;
    top: 219px;
    text-align: center;
    padding-left: 10px;
}
#companiesspan{
    color: #24cfa6;
}
#companies_img{
    width: 73.3%;
    position: relative;
    left: 13.75%;
    top: 288px;
}

#explore2{
    width: 241px;
    height: 49.6px;
    text-align: center;
    background-color: #24cfa6;
    display: block;
    font-size: 24px;
    letter-spacing: -0.2px;
    font-weight: 520;
    word-spacing: -1px;
    border: none;
    outline: none;
    border-radius: 8px;
    position: relative;
    left: 42.5%;
    top: 350px;
    padding-top: 2.4px;
}

#lastinfo{
    width: 96%;
    height: 448px;
    border-top: 0.5px white solid;
    border-bottom: 0.5px white solid;
    position: relative;
    left: 35px;
    margin-top: 485px;
}

#footer{
    color: white;
    font-weight: bold;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.8px;
    margin-top: 19.7px;
    margin-left: 42.7%;
    margin-bottom: 24px;
    line-height: 18px;
}
#all{
    position: relative;
    left: 6.2%;
}


#sherlogo,#instalogo,#linkedinlogo,#githublogo,#ytlogo,#xlogo{
    width: 25px;
    display: inline;
}

#sherlogo{
    width: 42.4px;
    position: relative;
    left: 13%;
    top: 110px;
}
#socials{
    position: relative;
    top: 125px;
    left: 13%;
    word-spacing: -2px;
    font-size: 13.9px;
    color: white;
    font-family: helvetica;
}
#connect{
    width: 270px;
    height: 420px;
    color: white;
}
#instalogo{
    width: 26px;
    position: relative;
    left: 13%;
    top: 140px;
}
#linkedinlogo{
    width: 19px;
    position: relative;
    left: 22%;
    top: 137px;
}
#githublogo{
    width: 24px;
    position: relative;
    left: 31.6%;
    top: 140px;
}
#ytlogo{
    width: 22px;
    position: relative;
    left: 41%;
    top: 139px;
}
#xlogo{
    width: 25px;
    position: relative;
    left: 49%;
    top: 138px;
}


.info_buttons{
    position: relative;
    margin-bottom: 15.5px;
    font-family: helvetica;
}
#info{
    width: 200px;
    height: 160px;
    color: white;
    position: relative;
    top: -321.5px;
    left: 37.1%;
    font-size: 13.8px;
    font-family: helvetica;
}
#companyid{
    font-size: 15.6px;
    margin-bottom: 23px;
}

#community{
    width: 200px;
    height: 160px;
    color: white;
    position: relative;
    top: -483px;
    left: 63.45%;
    margin-bottom: 20px;
    font-family: helvetica;
}
#communityid{
    position: relative;
    font-size: 15.6px;
    font-family: helvetica;
}
.inanddi{
    position: relative;
    bottom: -24px;
    font-size: 13.8px;
    margin-bottom: 14px;
}

#touch{
    width: 200px;
    height: 160px;
    color: white;
    position: relative;
    top: -661.5px;
    left: 87.45%;
}
#touchid{
    position: relative;
    font-size: 15.6px;
    font-family: helvetica;
    margin-bottom: 23px;
}
.phn{
    font-family: helvetica;
    font-size: 14px;
    margin-bottom: 15px;
    word-spacing: -5px;
}

#connect:hover,#communityid:hover,#touchid:hover{
    color: #24cfa6;
    cursor: pointer;
}

.info_buttons:hover,.inanddi:hover,.phn:hover{
    color: #24cfa6;
    cursor: pointer;
}