{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodr | Sheryians</title>
    <link rel="icon" href="../static/img/logo.webp" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Geist+Mono:wght@100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Unlock&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootcamp.css">
</head>
<body>
    <nav id="navbar">
        <a href="#" id="img"><img id="logo" src="../static/img/logo.webp" alt=""></a>
        <a class="anchor" id="sheryians" href="">Sheryians coding school</a>
        <a class="anchor" id="home" href="{% url 'webpage:home' %}">Home</a>
        <a class="anchor" id="courses" href="{% url 'webpage:courses' %}">Courses</a>
        <a class="anchor" id="bootcamp" href="{% url 'webpage:bootcamp' %}">Bootcamp(Kodr)</a>
        <a class="anchor" id="request" href="{% url 'webpage:request' %}">Request Callback</a>
        <button id="signin"><a class="anchor" id="sign_button" href="{% url 'webpage:signin' %}">Sign In</a></button>
    </nav>

    <div id="bootcamp_header">
        <h1 id="bootcamp_heading">6 months In-House Bootcamp programme - Kodr.</h1>
    </div>
    <div id="bootcamp_yt">
        <iframe width="696" height="391" src="https://www.youtube.com/embed/pOGLAlGCKFE" title="This Bootcamp Will Change Your Life: Kodr x Sheryians !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" id="bootcamp_youtube" allowfullscreen></iframe>
    </div>
    <span id="start_date_container">Starts On:11 Nov 2024</span>
    <span id="placement_assistance_container">Placement Assistance <img src="./../static/images/Blue_tick.webp" id="blue_tick_image" alt=""></span>
    <span id="bootcamp_price_container">
        <h1 id="bootcamp_price_header" class="bootcamp_price">Price</h1>
        <mark class="bootcamp_price" id="bootcamp_price_mark">  ₹ 59000</mark>
        <small id="bootcamp_price_gst"  class="bootcamp_price">[50,000 + 18% Gst]</small>
    </span>
    <br>
    <button id="seats_button">Seats Are Full</button>
    <br>
    <h1 id="we_belive_heading" class="consistency_heading">we believe in,</h1>
    <br>
    <h1  class="consistency_heading"><mark id="consis_mark">Consistency.</mark>No shortcuts.</h1>
    <br>
    <span class="button_span">MERN Stack ⚡</span>
    <span class="button_span">Data Structures & Algorithm</span>
    <span class="button_span">DBMS - SQL 🤘</span>
    <br><br><br>
    <span class="button_span">CORE CS Subjects ⚙</span>
    <span class="button_span">Placement Assistance 💰</span>
    <br>
    <span id="timing_heading">
        <h1 id="non_stop_header" class="time_headers">Non-Stop</h1>
        <br>
        <mark id="hours_mark">5 Hours</mark><br>
        <h1 id="non_stop_header" class="time_headers">Coding <small id="everyday">[Everyday]</small></h1>
    </span>
    <br>
    <span id="day_content">
        Monday To Saturday. 11:00 AM To 4:00PM. 
    </span>

    <div id="lastinfo">
        <div id="connect">
            <img id="sherlogo" src="../static/img/logo.webp" alt="">
            <p id="socials">Let's connect with our socials</p>
            <img id="instalogo" src="../static/img/instalogo.png" alt="">
            <img id="linkedinlogo" src="../static/img/linkedinlogo.png" alt="">
            <img id="githublogo" src="../static/img/icons8-discord-50.png" alt="">
            <img id="ytlogo" src="../static/img/y.png" alt="">
            <img id="xlogo" src="../static/img/Screenshot 2024-12-19 193244.png" alt="">
        </div>
        <div id="info">
            <h5 id="companyid" class="info_buttons">COMPANY</h5>
            <p class="info_buttons">About Us</p>
            <p class="info_buttons">Support</p>
            <p class="info_buttons">Privacy Policy</p>
            <p class="info_buttons">Terms and Condition</p>
            <p class="info_buttons">Pricing and Refund</p>
            <p class="info_buttons">Hire From Us</p>
            <p class="info_buttons">Bug Bounty</p>
        </div>
        <div id="community">
            <h5 id="communityid">COMMUNITY</h5>
            <p class="inanddi">Inertia</p>
            <p class="inanddi">Discord</p>
        </div>
        <div id="touch">
            <h5 id="touchid">Get In Touch</h5>
            <p class="phn">+91 8109161752</p>
            <p class="phn">+91 9691778470</p>
            <p class="phn">hello@sheryians.com</p>
            <p class="phn">23-B,Indrapuri Sector C, <br>Bhopal(MP),462021</p>
        </div>
    </div>

    <footer id="footer">Copyright <span id="#cpy">&copy;</span> 2024 Sheryians Pvt. Ltd. <br><span id="all">All Rights Reserved.</span> </footer>

</body>
</html>